
<form action="/checkout/" method="POST">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key='pk_test_5IMUjzH9C69g1r4mfyJ1dYwx'
        data-amount="3000"
        data-name="Payment Local"
        data-description="testing payment at local"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    	data-locale="auto"
        data-currency="usd">
    </script>
</form>
